.ppu {
	background-color: #d7d9f2;
}

.ppm {
	background-color: #ffe8d4;
}

table {
	border-collapse: collapse;
	border: 2px solid black;
}

th, td {
	border: 1px solid black;
}

th {
	text-align: left;
}

td {
	text-align: right;
}
